
   @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  /* font: inherit; */
}
 :root  {
    /* headere colors  */
    --items: hsl(0, 0%, 100%);

  /* main section fonts colors  */
  --primary-b: hsl(198, 62%, 26%);
  --primary-p-g:  hsl(168, 21%, 32%);
  --primary-h-bold: hsl(212, 27%, 19%);
  --p-y: hsl(51, 100%, 49%) ;
  --p-r: hsl(7, 99%, 70%);

   --n-t-l: hsl(210, 4%, 67%);
   --n-d:  hsl(213, 9%, 39%);

  /* footer  */
  --s-n: hsl(232, 10%, 55%);


    --spacer:2rem;
    --spacer-m:4rem;
    --spacer-l:5rem;

    --gap:1rem;

    --fs-n:1.5rem;
    --fs-lg:8rem;
    --fs--m:4rem;
    --l:2rem;



 }
 html {
  font-size: 62.5%;
 }
 body {
  font-family: 'Barlow';
 }

 .first-section {
  height: 100vh;
  min-height: 600px;
  background-image: url(/images/mobile/image-header.jpg);
  background-position: center 70%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
 }
 .header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:var(--spacer);
  position: relative;
 }
 .logo {
  background-size: cover;
 }
 .right-area {
  display: flex;
  align-items: center;
 }
 nav ul {
  list-style: none;
  display: flex;
  cursor: pointer;
 }
 li a{
  text-decoration: none;
  color: var(--items);
  font-size: var(--fs-n);
  margin-right: var(--spacer-m);
 }
 .contact {
  background-color: white;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: all 0.5s;
  color: var(--primary-h-bold);
  cursor: pointer;
 }
 .contact:hover{
  background-color: transparent;
  color: white;
 }
 .hero-sect {
  margin:var(--spacer-m) 0;
  flex-grow:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  position: relative;
 }
 h1 {
  font-size: var(--fs-lg);
  font-family: 'Fraunces';
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: .7rem;
 }
.services-area {
  display: grid;
  grid-template-columns: repeat(2,1fr);
   margin-bottom: var(--spacer-l);
}
.col-1, .col-4{
  font-family: 'Fraunces';
  align-self: center; 
  justify-self: center; 
}
.icon {
  display: none;
}
.col-2 {
  background-image: url(/images/mobile/image-transform.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25rem 0;
  /* /* padding: rem 0; * */
 } 
 .col-3 {
  background-image: url(/images/mobile/image-stand-out.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25rem 0;
 }
 .col-5 {
  background-image: url('https://i.ibb.co/ssvvmSd/cherries.png');
  background-position:top;
  background-size: cover;
  background-repeat: no-repeat;

 }
 .col-6{
  background-image: url('https://i.imgur.com/nVFptJO.png');
  background-position:top;
  background-size: cover;
  background-repeat: no-repeat;
  
 }
.card-tittle {
   color: var(--primary-h-bold) ;
   font-size: var(--spacer-m);
   margin-bottom: var(--spacer-m);
}
 .discription {
  font-size: var(--fs-n);
  color:var(--s-n);
  font-family: 'Barlow';
  line-height: 1.5;
  margin-bottom: var(--spacer);
}
.learn-more {
  font-size: var(--l);
}

.text-cor {
  font-family: 'Fraunces';
 color:var(--primary-p-g);
 position: absolute;
 bottom: 8rem;
 left:170px;
 text-align: center;
}
.text-cor >  h3{
  --primary-p-g:hsl(169, 17%, 24%);
  color: var(--primary-p-g);
  font-weight: 900;
  font-size: var(--fs--m);
}
.text-cor p {
  font-family: 'Barlow';
  font-size: var(--fs-n);
}
.test {
  font-family: 'Barlow';
}
.test-hea {
  font-size: var(--fs--m);
  font-family: 'Fraunces';
  letter-spacing: 9px;
  color:var(--n-t-l);
  font-weight: 400;
  margin-bottom: var(--spacer-m);
  text-align: center;
}
.testimonials-- {
   display: flex;
   margin: var(--spacer-m);
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: space-between;
}
.testimonial{
  padding: 1rem 0;
  text-align: center;
  border-radius: 10px;
  /* flex-basis: 33.2%; */
  flex: 1 0 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.testimonial:not(:last-child) {
  /* margin-bottom: 2rem; */
}

.testimonial > .test-p {
  color:var(--n-d);
  margin:var(--spacer);
  font-size: var(--fs-n);
}
.speak {
  width: 5rem;
  border-radius: 30px;
  border: 2px solid purple;
  object-fit: cover;
}
.test-t {
  /* color: var(--primary-h-bold); */
  font-family: 'Fruances';
  font-size: var(--l);
  margin-bottom: 1rem;
  font-weight: 900;
}
.test-sub {
color: var(--n-t-l);
}
.display-area {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 100%;
}
.display-area img {
  width: 100%;
  object-fit: cover;
}
footer {
  background-color: rgba(131,194,175,255);
  padding:var(--spacer-m) 0;
}
.footer-wrapper 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer-wrapper > img , #secondary-nav {
  margin-bottom: var(--spacer-m);
}
.social-media-links > img {
  margin-right: var(--spacer);
}

/* making respnsive here basically  */

@media (max-width:830px) {
   :root {
    --spacer-m:3.5rem;
   }
}

@media (max-width:790px)
{
 :root {
    --fs-lg:6rem;
    --fs-n:1.5rem;
    --spacer-m:3.5rem;
    --fs--m:3.5rem
   }
 .display-area {
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(2,1fr);
 }
 .testimonials-- {
  flex-direction: column-reverse;
 
 }

}
@media(max-width:680px) {
  :root {
    --fs-n:1.4rem;
    --spacer-m:3rem;
    --fs--m:2rem;
    --fs-lg:5em
  }
  .icon {
    display: flex;
    cursor: pointer;
  }
  .contact {
    background-color: rgb(233, 194, 19);
  }
  .contact:hover{
    color: black;
  }
  .right-area.active  {
    display: flex;
  }
  .right-area {
    display: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 40px;
    top: 6rem;
    width: 90%;
    z-index: 2;
    border-top-right-radius: -20px;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius:20px ;
    }
    ul li a {
      --primary-p-g:hsl(169, 17%, 24%);
      color: var(--primary-p-g); 
      text-align: center;    } 
      ul li {
        margin-bottom: 2rem;
        text-align: center;
      }
      ul {
        flex-direction: column;
      }
  .services-area {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
  }
  .col-3{
    height: 8rem;
  }
  .col-4 > p {
    font-size: 1.2rem;
  }
  .col-2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .col-1 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    padding: 0 1rem;
  }
  .col-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .col-4 {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: center;
    padding: 0 3rem;
  }
  .col-2, .col-3 {
    max-height: 12rem;
   } 
  
}

